section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
  max-width: 30vw;
}

section button {
  background-color: #fff;
  border: none;
}

.shown {
  display: block;
}
.hidden {
  display: none;
}
