a {
  text-decoration: none;
  color: initial;
}

a:hover {
  text-decoration: underline;
  color: blue;
}

.resume {
  background-color: #f4ffffbd;
  box-shadow: 0 0 5px;
  margin: 0.5rem;
  padding: 0.5rem;
}

.resume .personal-info {
  border-top: none;
}

.resume section > div {
  border-top: 1px solid #000;
}

.resume section {
  margin: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 0;
}

/* PERSONAL INFO SECTION */

.personal-info {
  display: flex;
  flex-direction: column;
}

span {
  padding: calc(0.2rem + 0.2vw);
  margin: calc(0.2rem + 0.2vw);
}

#full-name {
  margin: 0;
}

#full-name h3 {
  margin: 0.5rem;
}

/* EDUCATION INFIO SECTION */

.education-information {
  margin: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 0;
}
.education-entry {
  margin: 0.3rem;
  padding: 0.3rem;
  display: flex;
  justify-content: space-between;
}
.program {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.dates {
  display: flex;
  flex-direction: column;
}

/* WORK EXPERIENCE SECTION  */

.work-experience {
  margin: 0.5rem;
  padding: 0.5rem;
}

.work-exp-entry {
  margin: 0.3rem;
  padding: 0.3rem;
  display: flex;
  justify-content: space-between;
}

.left-area {
  display: flex;
  flex-direction: column;
  align-items: start;
}
