.section-header {
  text-align: left;
  margin-top: 20px;
}

.section-header h3 {
  margin: 0;
}

aside {
  flex: 0 0 25%;
  padding: 1.5rem;
  background-color: cadetblue;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
}

.profile-photo {
  width: 200px;
  height: 200px;
  border: 2px solid #f0f0f0;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.photo {
  margin: 1rem;
}

aside a {
  color: inherit;
  text-decoration: none;
  margin: 0.5rem;
}

aside a:hover {
  text-decoration: underline;
}

aside p {
  margin: 0.5rem;
}

aside h4 {
  text-align-last: left;
}

aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

aside ul li {
  display: inline-block;
  margin: 5px;
}

main {
  /* flex: 1; */
  padding: 1.5rem;
  text-align: center;
  width: 100%;
}

.data-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  border-bottom: 1px solid #cfcfcf;
}

main .data-section .data-row:last-child {
  border: none !important;
}

.resume-layout {
  border: 1px solid #ededed;
  box-shadow: 0px 0px 15px 0px #00000069;
  background-color: #fff;
  height: 125vh;
  display: flex;
  transform: scale(0.9);
  transform-origin: top left;
  width: 100%;
}

.personal-data-wrapper .icon {
  color: whitesmoke;
}

.education-data-wrapper {
  padding: 0 1.5rem 0 1.5rem;
}

.experience-data-wrapper {
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.display-info h2:first-child {
  border: none;
  text-align: center;
}

.display-info h2 {
  text-align: left;
}

.personal-data-row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.personal-data-row .buttons {
  align-self: center !important;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.entry-wrapper {
  flex-grow: 1;
}

.entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
  text-align: left;
}

/* .years {
  align-self: flex-end;
} */

.buttons {
  align-self: end;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 3px;
  padding: 10px;
}

button.remove:hover {
  background-color: #fa7f7f;
  color: white;
}

button.edit:hover {
  background-color: #efcc75;
  color: #fff;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hobbies {
  justify-self: flex-end;
}

@media screen and (max-width: 1780px) {
  .resume-layout {
    transform: scale(0.8);
    width: 120%;
  }
  .photo {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 1500px) {
  .resume-layout {
    transform: scale(0.7);
    width: 142%;
  }
  .photo {
    margin: 0;
  }
}

@media screen and (max-width: 1300px) {
  .resume-layout {
    transform: scale(0.6);
    width: 166%;
    height: 150vh;
  }
  .photo {
    /* transform: scale(0.5); */
  }
}

@media screen and (max-width: 1150px) {
  .resume-layout {
    width: 166%;
  }
}

@media screen and (max-width: 900px) {
  .resume-layout {
    width: 163%;
  }
}

@media screen and (max-width: 480px) {
  .resume-layout {
    transform: scale(0.5);
    width: 200%;
  }
  aside {
    padding: 0.3rem;
  }
  .personal-data-row {
    flex-direction: column;
  }
  .contact-info {
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  .education-data-wrapper,
  .experience-data-wrapper {
    padding: 0 0.5rem;
  }
  .entry {
    text-align: left !important;
  }
}
