.display-info {
  border: 1px solid #ededed;
  box-shadow: 0px 0px 15px 0px #00000069;
  background-color: #fff;
  padding: 2.5rem;
}

.display-info h2:first-child {
  border: none;
  text-align: center;
}

.display-info h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: left;
  border-bottom: 1px solid #707070;
}

.personal-data-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact-info {
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.data-row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
}

.years {
  align-self: flex-end;
}

.buttons {
  align-self: end;
}
