@import url(./components/resume/styles/CvOutput.css);

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
}

#form-area section {
  background-color: #e8e8e87c;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.41);
}

.accordion-content {
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordion-header h2 {
  margin: 0;
}

.icon {
  transition: transform 0.3s ease;
}

.icon.rotate {
  transform: rotate(180deg);
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100% !important;
}

form fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
}

form input {
  margin: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form textarea {
  margin: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
